@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}


.dashboard {
  padding: 20px;
  background: #0f172a;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.graphs {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

