.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
}
.cart-items-item{
    margin:10px 0px;
    color:black;

}
.cart-items-item img{
    width: 80px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap:max(12vw,20px);
}
.cart-total{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;;
}
.cart-total button{
    border: none;
    color: white;
    background-color: black;
    width: max(15vw,200px);
    padding: 12px 0px;
    cursor: pointer;
    border-radius: 4px;
    font-size: max(1vw, 14px);
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}
.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-control button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
}

@media(max-width:750px){
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}

 .available-coupons1 {
  margin-top: 25px;
}

.available-coupons1 h4 {
  margin-bottom: 10px;
}

.coupon-car {
  border: 1px dashed #000;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.coupon-car:hover {
  background-color: #f5f5f5;
}

.coupon-car button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.coupon-card button:disabled {
  background-color: grey;
  /* cursor: not-allowed; */
} 

.pagination {
  display: flex;
  gap: 8px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active-page {
  background: black;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
