@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

/* FULL WIDTH FIX */
html, body{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

/* 🔥 FIXED APP CONTAINER */
.app{
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Desktop only */
@media (min-width: 768px){
  .app{
    width: 80%;
    margin: auto;
  }
}

::-webkit-scrollbar{
  display: none;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-bar {
  margin-bottom: 30px;   /* gap yahin se aayega */
}


